<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section 1 page</title>
</head>
<body>

    <div>
    <h1>Login</h1>
    <form action="/login" method="POST">
        {% csrf_token %}
        Email: <input type="text" name="email"> <br>
        Password: <input type="password" name="Password"> <br>
        <input type='submit' value="Login">
        </form>
    </div>

    {%if request.session.bool%}
    {% for key, values in error.items %}
    
    <p>{{key}} {{values}}</p>
    {%endfor%}
    {%endif%}
    
    
    <a href="/loginzz">Dont have an account? Register here</a>


</body> 
</html>