<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>All show</title>
</head>
<body style="padding-left: 100px;">
    <div style="width: 900px; height: 150px;">
        <h1>All Shows</h1> <br>
    <table style="border-style:solid;" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for shows in allshows %}
        <tr>
            
            <th scope="row">{{shows.id}}</th>
            <td>{{shows.Title}}</td>
            <td>{{shows.Network}}</td>
            <td>{{shows.Release_date}}</td>
            <td><a href="http://localhost:8000/show/{{shows.id}}" class="badge badge-info">Show</a> |
                <a href="http://localhost:8000/shows/{{shows.id}}/edit" class="badge badge-info">Edit</a> |
                <a href="http://localhost:8000/delete/{{shows.id}}" class="badge badge-info">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="http://localhost:8000/shows/new">Add A new Show</a>
    </div> 
    
</body>
</html>