<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div  style="text-align: left;">
        <center>
        <h1>Edit Show 2</h1> 
        <form action="book" method="post">
        Title <br>
        <input style="width: fit-content;" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        Network
        <input style="width: fit-content;" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        Release date <input style="width: auto;" class="form-control" type="date" value="" id="example-datetime-local-input">

        Description 
    <textarea style="width: fit-content;" class="form-control" aria-label="With textarea"></textarea><br>
    <button type="submit" class="btn btn-outline-dark">Update</button> <br><br>
    <a href="">Go to show</a>
    </form>
    </div>
    </center>
    </div>
</body>
</html>