<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div  style="text-align: left;">
        <center>
        <h1>Add a New Show</h1> 
        <form action="/add" method="post">
            {% csrf_token %}

            Title <br>
            <input name="title" style="width: fit-content;" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
            Network
            <input name="net" style="width: fit-content;" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
            Release date <input name="release" style="width: auto;" class="form-control" type="date" value="" id="example-datetime-local-input">

            Description 
        <textarea name="desc" style="width: fit-content;" class="form-control" aria-label="With textarea"></textarea><br>
        <button type="submit" class="btn btn-outline-dark">Create</button>
        </form>
        </div>
        </center>
    </div>
</body>
</html>