<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for users in all_the_users %}
            </ul>
            <th scope="row">{{users.id}}</th>
            <td>{{ users.first_name }}</td>
            <td>{{ users.last_name }}</td>
            <td>{{ users.age }}</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="add" method="post">
    {% csrf_token %}

    First Name:<input type="text" name="firstname" placeholder="Your First Name">
    Lastname <input type="text" name="lastname" placeholder="Your Last Name">
    <br><br>
    Email <input type="text" name="email" placeholder="Your Email">
    Age <input type="number" name="age" placeholder="Your Age">
        <br>
    <input type="submit" value="add">
    
    
    </form>
</body>
</html>