<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <div>
    {% for i in range(rows): %}
        
        {%for j in range(coulmns): %}
            {% if (i+j)%2 !=0%}
        <div class="box2"></div>
            {% endif %}
            
            {% if (i+j)%2 ==0%}
        <div class="box"></div>
            {% endif %}
        
        {% endfor %}
        <br>
    {% endfor %}
</div>
</body>
</html>